{{ $ := .root }}
{{ $page := .page }}
{{ $autolink := default true $page.Params.autolink }}


{{ $person_page_path := (printf "/authors/%s" (urlize site.Params.contact_profile)) }}
{{ $person_page := site.GetPage $person_page_path }}
{{ if not $person_page }}
  {{ errorf "Could not find an author page at `%s`. Please check the value of `author` in your About widget and create an associated author page if one does not already exist. See https://sourcethemes.com/academic/docs/page-builder/#about " $person_page_path }}
{{end}}
{{ $person := $person_page.Params }}
{{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
{{ $avatar_shape := site.Params.avatar.shape | default "circle" }}

<!-- Contact widget -->
<div class="row contact-widget">
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}

	
	
	</div>

  <div class="col-12 col-lg-8">
    {{ with $page.Content }}{{ . }}{{ end }}

    {{ if $page.Params.email_form }}

    {{ $post_action := "" }}
    {{ if eq $page.Params.email_form 1 }}
      {{ $post_action = "netlify" }}
    {{ else }}
      {{ if not site.Params.email }}
        {{ errorf "Please set an email address for the contact form using the `email` parameter in `config.toml`. Otherwise, set `email_form = 0` to disable the contact form." }}
      {{ end }}
      {{ $post_action = printf "action=\"https://formspree.io/%s\"" site.Params.email }}
    {{end}}

    <div class="mb-3">
      <form name="contact" method="POST" {{ $post_action | safeHTMLAttr }}>
        <div class="form-group form-inline">
          <label class="sr-only" for="inputName">{{ i18n "contact_name" }}</label>
          <input type="text" name="name" class="form-control w-100" id="inputName" placeholder="{{ i18n "contact_name" | default "Name" }}" required>
        </div>
        <div class="form-group form-inline">
          <label class="sr-only" for="inputEmail">{{ i18n "contact_email" }}</label>
          <input type="email" name="email" class="form-control w-100" id="inputEmail" placeholder="{{ i18n "contact_email" | default "Email" }}" required>
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputMessage">{{ i18n "contact_message" }}</label>
          <textarea name="message" class="form-control" id="inputMessage" rows="5" placeholder="{{ i18n "contact_message" | default "Message" }}" required></textarea>
        </div>
        <button type="submit" class="btn btn-outline-primary px-3 py-2">{{ i18n "contact_send" | default "Send" }}</button>
      </form>
    </div>
    {{end}}

				<div class="row justify-content-left">
				{{ with $person_page }}

				{{ $avatar := (.Resources.ByType "image").GetMatch "*avatar*" }}
				{{/* Get link to user's profile page. */}}
				{{ $link := "" }}
				{{ with site.GetPage (printf "/authors/%s" (path.Base (path.Split .Path).Dir)) }}
					{{ $link = .RelPermalink }}
				{{ end }}
				<div class="col-12 col-sm-auto people-person">
					{{ $src := "" }}
					{{ if site.Params.gravatar }}
						{{ $src = printf "https://s.gravatar.com/avatar/%s?s=200" (md5 .Params.email) }}
					{{ else if $avatar }}
						{{ $avatar_image := $avatar.Fill "150x150 Center" }}
						{{ $src = $avatar_image.RelPermalink }}
					{{ end }}
					{{ if $src }}
						{{with $link}}<a href="{{.}}">{{end}}<img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="{{ $src }}" alt="Avatar">{{if $link}}</a>{{end}}
					{{ end }}

					<div class="portrait-title">
						<h2>{{with $link}}<a href="{{.}}">{{end}}{{ .Params.name }}{{if $link}}</a>{{end}}</h2>
						{{ with .Params.role }}<h3>{{ . | markdownify | emojify }}</h3>{{ end }}
					</div>
				</div>
				{{ end }}
				</div>
    <ul class="fa-ul" itemscope>
      <li>
      </li>
      {{ if and site.Params.email (not $page.Params.email_form) }}
      <li>
        <i class="fa-li fas fa-envelope fa-2x" aria-hidden="true"></i>
        <span id="person-email" itemprop="email">
        {{- if $autolink }}<a href="mailto:{{ site.Params.email }}">{{ site.Params.email }}</a>{{ else }}{{ site.Params.email }}{{ end -}}
        </span>
      </li>
      {{ end }}

      {{ with site.Params.phone }}
      <li>
        <i class="fa-li fas fa-phone fa-2x" aria-hidden="true"></i>
        <span id="person-telephone" itemprop="telephone">
        {{- if $autolink }}<a href="tel:{{ . }}">{{ . }}</a>{{ else }}{{ . }}{{ end -}}
        </span>
      </li>
      {{ end }}

      {{ with site.Params.address }}
      <li>
        <i class="fa-li fas fa-map-marker fa-2x" aria-hidden="true"></i>
        <span id="person-address" itemprop="address">{{ . | markdownify | emojify }}</span>
      </li>
      {{ end }}
      {{ with site.Params.address_extra }}
      <li>
        <i class="fa-li fas fa-map-marker fa-2x" aria-hidden="true"></i>
        <span id="person-address" itemprop="address">{{ . | markdownify | emojify }}</span>
      </li>
      {{ end }}

      {{ with site.Params.office_hours }}
      <li>
        <i class="fa-li fas fa-clock fa-2x" aria-hidden="true"></i>
        <span>{{ . | markdownify | emojify }}</span>
      </li>
      {{ end }}

      {{ with site.Params.appointment_url }}
      <li>
        <i class="fa-li fas fa-calendar-check fa-2x" aria-hidden="true"></i>
        <a href="{{ . }}" target="_blank" rel="noopener">{{ i18n "book_appointment" | default "Book an appointment" }}</a>
      </li>
      {{ end }}

      {{/* Contact links. */}}
      {{ range site.Params.contact_links }}
      {{ $pack := or .icon_pack "fas" }}
      {{ $pack_prefix := $pack }}
      {{ if in (slice "fab" "fas" "far" "fal") $pack }}
        {{ $pack_prefix = "fa" }}
      {{ end }}
      {{ $link := .link }}
      {{ $scheme := (urls.Parse $link).Scheme }}
      {{ $target := "" }}
      {{ if not $scheme }}
        {{ $link = .link | relLangURL }}
      {{ else if in (slice "http" "https") $scheme }}
        {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
      {{ end }}
      <li>
        <i class="fa-li {{ $pack }} {{ $pack_prefix }}-{{ .icon }} fa-2x" aria-hidden="true"></i>
        <a href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>{{.name|markdownify|emojify|safeHTML}}</a>
      </li>
      {{ end }}

    </ul>

    {{ if site.Params.map }}
    <div class="d-none">
      <input id="map-provider" value="{{ site.Params.map }}">
      <input id="map-lat" value="{{ site.Params.latitude }}">
      <input id="map-lng" value="{{ site.Params.longitude }}">
      <input id="map-dir" value="{{ site.Params.address }}">
      <input id="map-zoom" value="{{ site.Params.zoom | default "15" }}">
      <input id="map-api-key" value="{{ site.Params.map_api_key }}">
    </div>
    <div id="map"></div>
    {{ end }}

  </div>
</div>


