{{/* Datacode Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $st := .page }}

{{/* {{ $filter_params := $st.Params.filter_params }} */}}
{{ $filter_params := (slice "url_code" "url_dataset") }}

{{/* OLD page method 
{{ $headless := (index ($.Site.GetPage "/research").Resources 0) }}
{{ $categories := where $headless.Params.content.filter_button "category" "ne" "All" }}
{{ $categories_names := (apply $categories "index" "." "category") }}
*/}}

{{ $researchs := where site.RegularPages "Type" "research" }}
{{ $categories := where $researchs "title" "ne" nil }}
{{ $categories_names := (apply $categories "index" "." "title") }}


{{/* filter projects pages */}}
{{ $pr := where site.RegularPages "Type" "project" }}
{{ $projects := where (where $pr ".Params.url_code" "ne" nil) ".Params.url_code" "ne" ""}}
{{ $projects := $projects | union (where (where $pr ".Params.url_dataset" "ne" nil) ".Params.url_dataset" "ne" "") }}

{{/* filter publications pages */}}
{{ $pubs := where site.RegularPages "Type" "publication" }}
{{ $publications := where (where $pubs ".Params.url_code" "ne" nil) ".Params.url_code" "ne" ""}}
{{ $publications := $publications | union (where (where $pubs ".Params.url_dataset" "ne" nil) ".Params.url_dataset" "ne" "") }}

{{/*
{{ $categories_names := (apply $categories "index" "." "category") }}
{{ $p := where $projs "Params.categories" "intersect" $categories_names }}
{{ $complement_pr := $projs | complement $p }}  
*/}}

{{ $query := $publications | union $projects }}

{{/* Sort */}}

<div class="universal-wrapper">
	<div class="row">
		<div class="col-12 col-lg-9">
			<h1>{{ with $st.Title }}{{ . | markdownify | emojify }}{{ end }}</h1>
			{{ with $st.Params.subtitle }}  <p>{{ . | markdownify | emojify }}</p>{{ end }}
			<br>
		</div>

      {{/* Array of distinct years. */}}
      {{ range $query.ByDate.Reverse }}
        {{ $year := print (.Date.Format "2006") }}
        {{ $.Scratch.SetInMap "years" $year $year }}
      {{ end }}

		<div class="col-12 col-lg-3">
			<span>
			<p> <i class="fas fa-project-diagram pub-icon" aria-hidden="true"></i> Project </p> 
			<p> <i class="far fa-file-alt pub-icon" aria-hidden="true"></i> Publication </p>
			</span>
		</div>
		<div class="col-12">

      {{ with $st.Content }}
      <div class="article-style" itemprop="articleBody">{{ . }}</div>
      {{ end }}

      {{/* OLD page method 
      <div class="form-row mb-3">
        <div class="col-auto">
          <input type="search" class="filter-search" placeholder="{{ i18n "search_placeholder" }}" autocapitalize="off"
          autocomplete="off" autocorrect="off" role="textbox" spellcheck="false">
        </div>
        <div class="col-auto">
          <select class="pub-filters category-select form-control form-control-sm" data-filter-group="category">
            <option value="*">Research Line</option>
            {{ range $index, $category := $categories }}
            <option value=".category-{{ (int $index) }}">
              {{ $category.category }}
            </option>
            {{ end }}
            <option value=".category-{{ (len $categories) }}">
              Other
            </option>
          </select>
        </div>
        <div class="col-auto">
          <select class="pub-filters type-select form-control form-control-sm" data-filter-group="type">
            <option value="*">Type</option>
            <option value=".type-project"> Project </option>
            <option value=".type-publication"> Publication </option>
          </select>
        </div>
        <div class="col-auto">
          <select class="pub-filters form-control form-control-sm" data-filter-group="year">
            <option value="*">{{ i18n "date" }}</option>
            {{ $years_sorted := $.Scratch.GetSortedMapValues "years" }}
            {{ if $years_sorted }}
							{{ range $year := sort $years_sorted "" "desc" }}
								<option value=".year-{{ $year }}">
									{{ $year }}
								</option>
							{{ end }}
            {{ end }}
          </select>
        </div>
      </div>
      */}}

      <div id="container-publications">
			{{ range $query.ByDate.Reverse }}

			  {{ if .Params.categories }}
          {{ $.Scratch.Set "str_cat" "" }}
					{{ $inter := intersect .Params.categories (apply $categories "index" "." "category") }}
					{{ range $i := $inter }}
						{{ range $index, $category := $categories }}
							{{ if (eq $category.category $i) }}
								{{ $.Scratch.Set "str_cat" (print ($.Scratch.Get "str_cat") (printf "category-%s " (string $index))) }}
							{{ end }}
						{{ end }}
					{{ end }}
					{{ $complement := .Params.categories | complement $inter }} 
					{{ if $complement }}
						{{ $.Scratch.Set "str_cat" (print ($.Scratch.Get "str_cat") (printf "category-%s " (string (len $categories)))) }}
					{{ end }}
				{{ end }}
				{{/* <script>console.log({{ . }});</script> */}}

        <div class="grid-sizer col-lg-12 isotope-item {{ $.Scratch.Get "str_cat" }} year-{{ .Date.Format "2006" }} type-{{ .Type }}">
					{{ partial "datacode_li_list" . }}
				</div>
			{{ end }}
			</div>

	</div>
</div>
