{{- define "main" -}}

<article class="article article-project">

  {{ partial "page_header.html" . }}

  <div class="article-container">

    <div class="article-style">
      {{ .Content }}
    </div>

    {{/* removing footer from research page
    {{ partial "page_footer" . }}
    */}}

    <div class="project-related-pages content-widget-hr">
      {{ $page := . }}
      {{ $research := .File.ContentBaseName }}
      {{ $research_path := .File.Path }}
      {{ $research_page := .GetPage $research_path }}

      {{ $items := where (where (where site.RegularPages "Type" "project") ".Draft" false) ".Params.categories" "intersect" (slice $research_page.Title ) }}
      <script>
        console.log('Hugo Debug: ', JSON.parse({{ jsonify $items }}))
      </script>

      {{ $items := where (where (where site.RegularPages "Type" "project") ".Draft" false) ".Params.categories" "intersect" (slice $research_page.Title ) }}
      {{ $count := len $items }}
      {{ if ge $count 1 }}
        <h2>{{ (i18n "projects") }}</h2>
        {{ range $items }}
          {{ if eq site.Params.projects.post_view 1 }}
            {{ partial "li_list" . }}
          {{ else if eq site.Params.projects.post_view 3 }}
            {{ partial "li_card" . }}
          {{ else }}
            {{ partial "li_compact" . }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ $items := where (where site.RegularPages "Type" "post") ".Params.projects" "intersect" (slice $research) }}
      {{ $count := len $items }}
      {{ if ge $count 1 }}
        <h2>{{ (i18n "posts") }}</h2>
        {{ range $items }}
          {{ if eq site.Params.projects.post_view 1 }}
            {{ partial "li_list" . }}
          {{ else if eq site.Params.projects.post_view 3 }}
            {{ partial "li_card" . }}
          {{ else }}
            {{ partial "li_compact" . }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ $items := where (where site.RegularPages "Type" "publication") ".Params.projects" "intersect" (slice $research) }}
      {{ $pubs_len := len $items }}
      {{ if ge $pubs_len 1 }}
        <h2>{{ (i18n "publications") }}</h2>
        {{ range $items }}
          {{ if eq site.Params.projects.publication_view 1 }}
            {{ partial "li_list" . }}
          {{ else if eq site.Params.projects.publication_view 3 }}
            {{ partial "li_card" . }}
          {{ else if eq site.Params.projects.publication_view 4 }}
            {{ partial "li_citation" . }}
          {{ else }}
            {{ partial "li_compact" . }}
          {{ end }}
        {{ end }}
      {{ end }}

      {{ $items := where (where site.RegularPages "Type" "talk") ".Params.projects" "intersect" (slice $research) }}
      {{ $talks_len := len $items }}
      {{ if ge $talks_len 1 }}
        <h2>{{ (i18n "talks") }}</h2>
        {{ range $items }}
          {{ if eq site.Params.projects.talk_view 1 }}
            {{ partial "li_list" . }}
          {{ else if eq site.Params.projects.talk_view 3 }}
            {{ partial "li_card" . }}
          {{ else }}
            {{ partial "li_compact" . }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</article>
{{- end -}}
